<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Marble Racing League</title>
	<link rel="stylesheet" type="text/css" href="css/universal.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>
<body>

	<div class="wrapper">

		<div id="nav">
			<a id="logo" href="/"><img src="images/logo.png"></a>
			<a id="results-link" href="/results">Results</a>
		</div>
		

		<% if (locals.fromStripeCharge) { %>
			<div id="success-message">Marble successfully named!</div>
		<% } %>



		<div id="video-section">
			<h2>Race Results</h2>
			<img id="video" src="images/video.jpg">
		</div>


		<h2>Marbles Eligible for Next Race</h2>
		<div id="eligible-desc">
			Entering let's you name a marble and you'll be its owner for the next race.
		</div>


		<% if (availableMarbles.length) { %>
			<ul id="eligible-marbles">
				<% for (var i = 0; i < availableMarbles.length; i++) { %>
					<li class="marble-selection">
						<div class="marble-image">
							<img src='/images/marbles/<%= availableMarbles[i].src %>'>
						</div>

						<div class="btn" data-color="<%= availableMarbles[i].color %>">
							<img class="key-icon" src="images/key-icon.png">
							<span class="btn-text">$5 Enter</span>
						</div>
						<div class="marble-name">
							<%= availableMarbles[i].color %>
						</div>
					</li>
				<% } %>
			</ul>
		<% } else { %>
			<div id="no-available-marbles">All marbles entered!</div>
		<% } %>

		<% if (ownedMarbles.length) { %>
			<h2 id="entered-marbles-title">Entered Marbles</h2>
			<ul id="entered-marbles">
				<% for (var i = 0; i < ownedMarbles.length; i++) { %>
				<li class="marble-selection">
					<div class="marble-image">
						<img src='/images/marbles/<%= ownedMarbles[i].src %>'>
					</div>
					<div class="marble-name"><%= ownedMarbles[i].userGivenName %></div>
				</li>
				<% } %>
			</ul>
		<% } %>
	</div>

	<footer>
		<div class="wrapper">
			<a id="footer-left" href="mailto:contact@marbleracingleague.com">Contact Us</a>
			<div id="footer-right">&copy; 2017 Marble Racing League</div>
		</div>
	</footer>

	<div id="modal">
		<div id="modal-box">
			<h3 id="name-your-marble">Name This Marble</h3>
			<div id="info-form">
				<label>Name:</label>
				<input type="text" id="marble-name">

				<div id="submit-marble-info" class="btn">
					<span class="btn-text">Enter Marble</span>
				</div>
			</div>
		</div>
		<div id="modal-overlay"></div>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src='https://checkout.stripe.com/checkout.js'></script>
	<script>
		// Save marble name
		var marbleColor;

		// Show/Hide marble name modal
		$('.marble-selection .btn').click(function() {
			$('#modal').show();
			marbleColor = $(this).attr('data-color');
		});
		$('#modal-overlay').click(function() {
			$('#modal').hide();
			$('#marble-name').val('');
		});

		$('#submit-marble-info').click(function(e) {
			e.preventDefault();
			userGivenName = $('#marble-name').val().trim();

			// Declare Stripe handler
			var handler = StripeCheckout.configure({
				key: 'pk_test_NtoFpH2Dn1BjVO3hhCN9TIIF',
				//key: 'pk_live_1sUhCVcBV6XHcJUHognanYwq',
				image: 'images/stripe-logo.png',
				locale: 'auto',
				token: function(token) {
					$.ajax({
						url: '/charge',
						type: 'POST',
						data: {
							stripeToken: token.id,
							stripeEmail: token.email,
							marbleColor: marbleColor,
							userGivenName: userGivenName,
						},
						success: function() {
							console.log('Success!');
							window.location.href = '/?success=true';
						},
						error: function(jqXHR) {
							console.warn(jqXHR);
						},
					});
				}
			});

			handler.open({
				name: 'Marble Racing League',
				description: 'Marble ownership: ' + userGivenName,
				amount: 500,
				allowRememberMe: false,
			});
		});

	</script>
</body>
</html>